* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.hamburger {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 4em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: rgb(152, 154, 152);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}



@media screen and (min-width : 750px) {

    .green {
        color: green;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        flex: 1;
        font-size: 4rem;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        color: rgb(212, 212, 213);
        gap: 2px;
        margin-left: 5vw;

    }

    .logo {
        height: 60px;
        width: 60px;
        margin-left: 14px;
    }

    .righto {
        margin-right: 14px;
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        height: 66px;
        max-width: 1424px;
        align-items: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;

    }

    .vg {
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        margin-top: 23px;

    }

    .greenu {
        color: green;
        font-weight: 300;
        font-size: 3.5rem;
    }

    .navbaru {
        background-color: rgb(26, 32, 44);
        width: 100vw;
    }

    .parent {
        min-height: 100vh;
        /* max-width: 80vw; */
        background-color: rgb(76 80 94 / 75%);
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .parentu {
        background-size: cover;
        background-position-y: -490px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        min-height: 100vh;
    }



    .righto2 {
        display: flex;
        justify-content: space-between;
        gap: 22px;
        color: aliceblue;
    }

    .nav-link {
        color: rgb(193, 192, 192);
        text-decoration: none;
        font-size: 1.3rem;


        font-family: "Poppins", sans-serif;
        font-weight: 100;

    }

}

@media screen and (max-width : 750px) {
    .navbaru {
        background-color: rgb(26, 32, 44);
        height: 60px;
    }

    .parentu {
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        min-height: 100vh;
    }

    .righto2 {
        display: none;


    }



    .navbar {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        height: 60px;
        align-items: center;
        /* align-items: center; */
    }

    .parent {
        min-height: 100vh;
        /* max-width: 80vw; */
        background-color: rgb(76 80 94 / 75%);
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .logo {
        height: 49px;
        width: 49px;
        margin-left: 0px;
    }

    .righto {
        margin-right: 4px;
        display: block;
    }

    .intro {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        font-size: 8vw;
        font-weight: 100;
        font-family: "Poppins", sans-serif;
        color: rgb(212, 212, 213);
        gap: 2px;
        margin-left: 5vw;
    }

    .vg {
        font-size: 1.6rem;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        margin-top: 15px;
    }

    .greenu {
        color: green;
        font-weight: 300;
        font-size: 1.5rem;
    }
}